
*.vsidx
Data Project/.vs/Data Project/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.obj
*.exe
*.recipe
*.ilk
*.log
*.pdb
*.tlog
*.txt
*.idb
test/Source.cpp
test/Useful Methods.h
test/.vs/test/v17/.suo
Data Project/x64/Debug/main.obj.enc
